---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Page Not Found">
  <div
    class="absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center space-y-2"
  >
    <h2 class="font-heading text-8xl font-bold">404</h2>
    <p class="text-white/80">
      Page Not Found,
      <a href="/" class="hover:underline" rel="prefetch">return home</a>
    </p>
  </div>
</Layout>
